<%- include("partials/header.ejs") %>
<div class="container mt-4">
  <h2>Preview Your Article</h2>
  <h3><%= title %></h3>
  <p>- <%= author %></p>
  <div>
    <p><%= content %></p>
  </div>
  <a href="/createnew" class="btn btn-secondary">Go Back and Edit</a>
</div>
